body {
  font-family:Verdana,arial,sans-serif;
  font-size: 13px;
  margin: 20px;
}

pre {
  padding:10px;
  background-color: #efefef;
  font-size: 11px;
  font-family:Verdana,arial,sans-serif;
}

.myhr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.mypre {
  line-height:1.2em;
  background:linear-gradient(180deg,#ccc 0,#ccc 1.2em,#eee 0);
  background-size:2.4em 2.4em;
  background-origin:content-box;
  
  /* some extra styles*/
  padding:20px;
  text-align:justify;
  font-family:calibri,arial,sans-serif;
}

.resultado-busca {
  overflow-y: scroll;
  height:300px;
  text-align: justify;
  padding: 5px;
  padding-right: 10px
}

.highlight {
  /*background-color: yellow;*/
  font-weight: bolder;
  color: red;
}

.termos-busca {
  text-decoration: none;
  font-weight: bolder;
  color: red; 
}